%centerJustify{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.clock{
    width:350px;
    height:350px;
    border-radius: 100%;
    @extend %centerJustify;
    background-color: #a06ee1;
    box-shadow:8px 20px 15px #0000007d;

    &_inner {
        width:90%;
        height:90%;
        border-radius: 100%;
        position: relative;
        @extend %centerJustify;
        border: 2px solid #212F0B;
        background-color: #421b9b;
    }
}

.scale{
    position:relative;
    width:100%;
    height:100%;

    &_unit{
        // 由於每個刻度的rotate角度不同，這個 CSS 之後會透過 JS 來產生。
        transform: rotate(180deg) translateY(120px);
        width:2px;
        height:24px;
        border-radius: 100%;
        position:absolute;
        top:50%;
        left:50%;
        transform-origin: 0 0;
        background-color: #fff;
    }    
}